POSTGRES_DB=secretaria_db
POSTGRES_USER=secretaria_user
POSTGRES_PASSWORD=secretaria_pass
POSTGRES_PORT=5433

BACKEND_PORT=3000
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=8h

FRONTEND_PORT=5173
VITE_API_URL=http://localhost:3000

PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123
